*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    justify-content: center;
    margin-top: 100px
}

.box1{
    height: 450px;
    width: 600px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 3px solid rgba(153, 238, 201, 0.611);
}


h1{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 2.4rem;
    letter-spacing: 7px;
}


.input{
    display: flex;
    justify-content: center;
}

.input>input{
    height: 50px;
    width: 90%;
   margin-top: 40px;
   border-radius: 10px;
   border: none;
   border: 2px solid black;

}




.input1{
    display: flex;
    justify-content: center;
}

.input1>input{
    height: 50px;
    width: 90%;
   margin-top: 40px;
   border-radius: 10px;
   border: none;
   border: 2px solid black;
}



.input2{
    display: flex;
    justify-content: center;
}


.input2>input{
    height: 50px;
    width: 90%;
   margin-top: 40px;
   border-radius: 10px;
   border: none;
   border: 2px solid black;
}

.btn1{
display: flex;
justify-content: center;
padding: 20px;
margin-top: 30px;
}


.btn1>button{
    height: 45px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
}


button:hover{
background-color: black;
color: white;
border: 2px solid white;
font-size: 20px;

}


body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

h2 {
    margin-bottom: 20px;
}

.options button {
    width: 100%;
    background: #eee;
    padding: 12px;
    border: none;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.options button:hover {
    background: #ddd;
}

#nextBtn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#score {
    margin-bottom: 15px;
    font-weight: bold;
}
